@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

.StripeElement {
  background-color : white;
  padding: 16.8px 16.8px;
  border-radius: 7px;
  width: 90%;
  margin-bottom : 20px;
  margin-left: auto;
  margin-right: auto;
}

.StripeElement--hover{
  filter: drop-shadow(1px 1px 1px ${colors.darkGray});
  cursor: pointer;
}


.App {
  text-align: center;
}
body{
  background-color : #ECECEC;
  font-family : 'DM Mono';
  color : #161616;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  top: 0px;
  width: 100%;
  max-width: 1425px;
  height: 100%;
}

.default-link{
  text-decoration: none;
  color: inherit;
}

.default-link:hover{
  text-decoration: underline;
}

h1{
  display : inline-block;
  align-self: center;
  margin: 0;
}

#loader1{
  position: absolute;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
	width: 70px;
	height: auto;
  animation:1s orbit infinite linear;
}

#loader2{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 150px;
	width: 70px;
	height: auto;
  animation:1s orbit2 infinite linear;
}



@keyframes orbit {
    from { transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes orbit2 {
    from { transform: rotate(-180deg) translateX(50px) rotate(180deg); }
    to   { transform: rotate(180deg) translateX(50px) rotate(-180deg); }
}
