@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

.App {
  text-align: center;
}

body{
  background-color : #ECECEC;
  font-family : 'DM Mono';
  color : #161616;
}

.default-link{
  text-decoration: none;
  color: inherit;
}

.default-link: visited{
  color: inherit;
}

.default-link:hover{
  text-decoration: underline;
}
